    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About us</h2>
                <p>CVSAR is a 501(c)(3) nonprofit organization designed to increase resources, raise funds, and promote public awareness in support of search and rescue volunteer activities conducted by the <a href="https://www.clackamas.us/sheriff/sar.html">Clackamas County Sheriff’s Office</a>.</p>
            </div>
        </div>
    </section>

<!-- image gallery -->

<div class="container">    
    <div class="row gallery">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="/img/gallery/7.jpg">
          <img class="img-responsive" src="/img/gallery/7.jpg" alt="Several search and rescue members in orange shirts gather around a helicopter with a red cross on the side and the number 132">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="/img/gallery/2.jpg">
          <img class="img-responsive"src="/img/gallery/2.jpg" alt="Several search and rescue members gathered in the forest listening to a briefing">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="/img/gallery/3.jpg">
          <img class="img-responsive"src="/img/gallery/3.jpg" alt="Six search and rescue members in orange clothing in the snow">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="/img/gallery/4.jpg">
          <img class="img-responsive"src="/img/gallery/4.jpg" alt="Search and rescue members on rocky terrain in the forest guide a wheeled litter">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="/img/gallery/5.jpg">
          <img class="img-responsive" src="/img/gallery/5.jpg" alt="Several search and rescue members wearing orange around a wheeled litter at night with headlamps illuminating">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="/img/gallery/6.jpg">
          <img class="img-responsive" src="/img/gallery/6.jpg" alt="A woman in an orange shirt with a belgian malinois sitting on an ATV">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="/img/gallery/1.jpg">
          <img class="img-responsive"src="/img/gallery/1.jpg" alt="Multiple search and rescue members in orange guide a wheeled litter at night through a rushing river with headlamps illuniated">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="/img/gallery/8.jpg">
          <img class="img-responsive"src="/img/gallery/8.jpg" alt="A man in an orange shirt and Hoka cap stands in front of a white truck with Search and Rescue on the side parked among trees">
        </a>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
  <script>
    baguetteBox.run(".gallery", {
      animation: "slideIn"
    });
  </script>    