    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About us</h2>
                <p>CVSAR is a 501(c)(3) nonprofit organization designed to increase resources, raise funds, and promote public awareness in support of search and rescue volunteer activities conducted by the <a href="https://www.clackamas.us/sheriff/sar.html">Clackamas County Sheriff’s Office</a>.</p>
            </div>
        </div>
    </section>