    <!-- Donate Section -->
    <section id="donate" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Support our work</h2>
                    <p>You can support our search and rescue work by donating today.</p><br>
                    <a href="https://secure.etransfer.com/eft/custom/CCPOBF/flexblockcode/donation1.cfm?d2org=CCPOBF&d2tool=donate" class="btn btn-primary btn-lg">Donate</a>  
                    <br><br><span class="fs-6">Select "Search and Rescue" under "Apply my gift to..."</span>
                </div>
            </div>
        </div>
    </section>