    <!-- Donate Section -->
    <section id="donate" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Support our work</h2>
                    <p>You can support our search and rescue work by donating today.</p><br>
                    <a href="https://ccpobf.org/programs/search-and-rescue-csar.html" class="btn btn-primary btn-lg">Donate</a>
                </div>
            </div>
        </div>
    </section>