<!-- image gallery -->
<section id="gallery" class="container content-section text-center">
    <div class="container center">
        <h2>Gallery</h2>
    </div>

    <div class="row soft-margin">
      <div class="gallery">
            {% for image in site.data.images %}
              <a href="{{ image.path | relative_url }}">
                <picture>
                  <source class="img-responsive" srcset="{{ image.path2 | relative_url }}" type="image/webp">
                  <source class="img-responsive" srcset="{{ image.path | relative_url }}" type="image/jpeg"> 
                  <img class="img-responsive" src="{{ image.path | relative_url }}" alt="{{ image.alt }}">
                </picture>
              </a>  
            {% endfor %}
      </div>    
    </div>

    <script>
        window.addEventListener('load', function() {
        baguetteBox.run('.gallery');
        });
    </script>
</section>    