 <!-- jQuery Version 1.11.0 -->
    <script src="{{ '/js/jquery.js' | prepend: site.baseurl }}"></script>

    <!-- JS – Image gallery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.12.0/baguetteBox.js" async></script>    

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ '/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>

    <!-- Custom theme JavaScript -->
    <script src="{{ '/js/grayscale.js' | prepend: site.baseurl }}"></script>

    <!-- Stats counter JavaScript -->
    <script src="{{ '/js/counter.js' | prepend: site.baseurl }}"></script>