    <!-- Support Section -->
    <section id="support" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="center">
                    <h2>Support our work</h2>
                    <p>You can support our search and rescue work by donating or applying to join today.</p><br>
                    <button class="btn btn-primary btn-lg" zeffy-form-link="https://www.zeffy.com/embed/donation-form/donate-today-to-help-make-clackamas-county-sar-the-best-it-can-be?modal=true">Donate</button>
                    <a href="https://www.joinccso.com/csar">
                      <button class="btn btn-primary btn-lg">Join</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
